.rotate-clockwise {
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); /* Internet Explorer */
    -moz-transform:rotate(90deg); /* Firefox */
    -webkit-transform:rotate(90deg); /* Safari and Chrome */
    -o-transform:rotate(90deg); /* Opera */
}
.rotate-cclockwise {
    transform:rotate(-90deg);
    -ms-transform:rotate(-90deg); /* Internet Explorer */
    -moz-transform:rotate(-90deg); /* Firefox */
    -webkit-transform:rotate(-90deg); /* Safari and Chrome */
    -o-transform:rotate(-90deg); /* Opera */
}
#tabs {
    border: none;
}
#header {
    position: absolute;
    left: 30;
    top: 55;
    font-size: 20; 
    font-weight: normal;
}
#crosshair-position {
    position: absolute;
    left: 205;
    top: 70;
    font-size: 15; 
}
#metadata {
    position: absolute;
    left: 30;
    top: 53;
    font-size: 15; 
}
#bank-choice {
    position: absolute;
    left: 30;
    top: 100;
}
#left-sidebar {
    position: absolute;
    font-size: 20;
    color: grey;
    left: 30;
    top: 15;
}
#status {
    position: absolute;
    font-size: 20;
    left: 255;
    top: 15;
}
#timestamp  {
    position: absolute;
    left: 580;
    top: 15;
    font-size: 14;
}
.spectrum1 {
    position: absolute;
    width: 500;
    height: 200;
    border: 0px solid grey;
    top: 900;
    left: 30;
}
.spectrum2 {
    position: absolute;
    width: 500;
    height: 200;
    border: 0px solid grey;
    top: 900;
    left: 530;
}
#spectrum-0 { top: 100; }
#spectrum-1 { top: 300; }
#spectrum-2 { top: 500; }
#spectrum-3 { top: 700; }
#spectrum-4 { top: 100; }
#spectrum-5 { top: 300; }
#spectrum-6 { top: 500; }
#spectrum-7 { top: 700; }
span {
    color: grey;
}
