<!DOCTYPE HTML>
<html>
  <head>
    <title>VEGAS Banks</title>
    <link rel="stylesheet" href="/static/app.css">
    <script>
      var draw = function(ctx, image) {
          console.log('drawing',image);
          ctx.drawImage(image, 0, 0);
      }

      function initbuttons() {
          var xx = document.querySelectorAll(".btn");
          for (var i = 0; i < xx.length; i++) {
              if (xx[i].innerHTML=="All banks") {
                  xx[i].style.background="#3cb0fd";
              } else {
                  xx[i].style.background="#ffffff";
              }
          }
          showplots();
      }

      function showplots(){
	  var canvas0 = document.getElementById('canvasA');
	  var canvas1 = document.getElementById('canvasB');
	  var canvas2 = document.getElementById('canvasC');
	  var canvas3 = document.getElementById('canvasD');
	  var canvas4 = document.getElementById('canvasE');
	  var canvas5 = document.getElementById('canvasF');
	  var canvas6 = document.getElementById('canvasG');
	  var canvas7 = document.getElementById('canvasH');
    
	  var ctx0 = canvas0.getContext('2d');
	  var ctx1 = canvas1.getContext('2d');
	  var ctx2 = canvas2.getContext('2d');
	  var ctx3 = canvas3.getContext('2d');
	  var ctx4 = canvas4.getContext('2d');
	  var ctx5 = canvas5.getContext('2d');
	  var ctx6 = canvas6.getContext('2d');
	  var ctx7 = canvas7.getContext('2d');

	  var image0 = new Image();
	  var image1 = new Image();
	  var image2 = new Image();
	  var image3 = new Image();
	  var image4 = new Image();
	  var image5 = new Image();
	  var image6 = new Image();
	  var image7 = new Image();

	  image0.onload = function() {
	    ctx0.drawImage(image0, 0, 0);
	  };
	  image1.onload = function() {
	    ctx1.drawImage(image1, 0, 0);
	  };
	  image2.onload = function() {
	    ctx2.drawImage(image2, 0, 0);
	  };
	  image3.onload = function() {
	    ctx3.drawImage(image3, 0, 0);
	  };
	  image4.onload = function() {
	    ctx4.drawImage(image4, 0, 0);
	  };
	  image5.onload = function() {
	    ctx5.drawImage(image5, 0, 0);
	  };
	  image6.onload = function() {
	    ctx6.drawImage(image6, 0, 0);
	  };
	  image7.onload = function() {
	    ctx7.drawImage(image7, 0, 0);
	  };
	  image0.src = 'static/A.png?=' + Math.random();
	  image1.src = 'static/B.png?=' + Math.random();
	  image2.src = 'static/C.png?=' + Math.random();
	  image3.src = 'static/D.png?=' + Math.random();
	  image4.src = 'static/E.png?=' + Math.random();
	  image5.src = 'static/F.png?=' + Math.random();
	  image6.src = 'static/G.png?=' + Math.random();
	  image7.src = 'static/H.png?=' + Math.random();
          setTimeout(showplots, 1000*2); // milliseconds
      }

      function showbank(bank) {
          window.location.href = "windows?bank=" + bank;
      }

      function allbanks() {
          window.location.href = "/";
      }
      function cli(bank) {
         window.location.href = "windows?bank="+bank;
      }
    </script>
  </head>
  <body onload="initbuttons()">
    <button class="btn" type="button" onclick="allbanks()">All banks</button>
    <button class="btn" type="button" onclick="showbank('A')">A</button>
    <button class="btn" type="button" onclick="showbank('B')">B</button>
    <button class="btn" type="button" onclick="showbank('C')">C</button>
    <button class="btn" type="button" onclick="showbank('D')">D</button>
    <button class="btn" type="button" onclick="showbank('E')">E</button>
    <button class="btn" type="button" onclick="showbank('F')">F</button>
    <button class="btn" type="button" onclick="showbank('G')">G</button>
    <button class="btn" type="button" onclick="showbank('H')">H</button>
    <div style="position:absolute; top:40px; left:0px">
      <canvas id="canvasA" width="600" height="200" onclick="cli('A')"></canvas>
    </div>
    <div style="position:absolute; top:240px; left:0px">
      <canvas id="canvasB" width="600" height="200" onclick="cli('B')"></canvas>
    </div>
    <div style="position:absolute; top:440px; left:0px">
      <canvas id="canvasC" width="600" height="200" onclick="cli('C')"></canvas>
    </div>
    <div style="position:absolute; top:640px; left:0px">
      <canvas id="canvasD" width="600" height="200" onclick="cli('D')"></canvas>
    </div>
    <div style="position:absolute; top:40px; left:600px">
      <canvas id="canvasE" width="600" height="200" onclick="cli('E')"></canvas>
    </div>
    <div style="position:absolute; top:240px; left:600px">
      <canvas id="canvasF" width="600" height="200" onclick="cli('F')"></canvas>
    </div>
    <div style="position:absolute; top:440px; left:600px">
      <canvas id="canvasG" width="600" height="200" onclick="cli('G')"></canvas>
    </div>
    <div style="position:absolute; top:640px; left:600px">
      <canvas id="canvasH" width="600" height="200" onclick="cli('H')"></canvas>
    </div>
  </body>
</html>
