$def with (bank,window)
<!DOCTYPE HTML>
<html>
  <head>
    <title>VEGAS Bank $(bank) Window $(window)</title>
    <link rel="stylesheet" href="/static/app.css">
    <script>
      function initbuttons() {
          var xx = document.querySelectorAll(".btn");
          for (var i = 0; i < xx.length; i++) {
              if (xx[i].innerHTML=="$(bank)") {
                  xx[i].style.background="#3cb0fd";
              } else {
                  xx[i].style.background="#ffffff";
              }
          }
          showplots();
      }

      function showplots()
      {
          var canvas = document.getElementById('myCanvas');
          var context = canvas.getContext('2d');
          var waterfallimage = new Image();
          var spectrumimage = new Image();

          waterfallimage.onload = function() {
            context.drawImage(waterfallimage, 0, 0);
          };
          spectrumimage.onload = function() {
            context.drawImage(spectrumimage, 640, 100);
          };
          waterfallimage.src = 'static/waterfall$(bank)$(window).png?=' + Math.random();
          spectrumimage.src = 'static/$(bank)$(window).png?=' + Math.random();

          setTimeout(showplots, 1000*2);  // milliseconds
      }

      function showbank(bank) {
          window.location.href = "windows?bank=" + bank;
      }
      
      function allbanks() {
          window.location.href = "/";
      }
    </script>
  </head>
  <body onload="initbuttons()">
    <table style="width:1200px">
      <col width="500">
      <col width="600">
      <col width="100">
      <tr>
	<td>
	  <button class="btn" type="button" onclick="allbanks()">All banks</button>
	  <button class="btn" type="button" onclick="showbank('A')">A</button>
	  <button class="btn" type="button" onclick="showbank('B')">B</button>
	  <button class="btn" type="button" onclick="showbank('C')">C</button>
	  <button class="btn" type="button" onclick="showbank('D')">D</button>
	  <button class="btn" type="button" onclick="showbank('E')">E</button>
	  <button class="btn" type="button" onclick="showbank('F')">F</button>
	  <button class="btn" type="button" onclick="showbank('G')">G</button>
	  <button class="btn" type="button" onclick="showbank('H')">H</button>
	</td>
	<td>
	  Please send comments to to Joe Masters (jmasters -at- nrao.edu)
	</td>
	<td>
	  <a href="/static/vegas_display_users_guide.html" target="_blank">Help</a>
	</td>
      </tr>
    </table>
    <p style="font-size:12px">Waterfall spectra have the first available integration of the current scan subtracted. This is done as an approximate reference to remove the bandpass shape.</p>
    <div style="position:absolute; top:70px; left:0px">
      <canvas id="myCanvas" width="1240" height="480"></canvas>
    </div>
  </body>
</html>
