$def with (bank)
<!DOCTYPE HTML>
<html>
  <head>
    <title>VEGAS Bank $(bank)</title>
    <link rel="stylesheet" href="/static/app.css">
    <script>
      function showplots()
      {
	  var canvas0 = document.getElementById('canvas0');
	  var canvas1 = document.getElementById('canvas1');
	  var canvas2 = document.getElementById('canvas2');
	  var canvas3 = document.getElementById('canvas3');
	  var canvas4 = document.getElementById('canvas4');
	  var canvas5 = document.getElementById('canvas5');
	  var canvas6 = document.getElementById('canvas6');
	  var canvas7 = document.getElementById('canvas7');
    
	  var ctx0 = canvas0.getContext('2d');
	  var ctx1 = canvas1.getContext('2d');
	  var ctx2 = canvas2.getContext('2d');
	  var ctx3 = canvas3.getContext('2d');
	  var ctx4 = canvas4.getContext('2d');
	  var ctx5 = canvas5.getContext('2d');
	  var ctx6 = canvas6.getContext('2d');
	  var ctx7 = canvas7.getContext('2d');

      var image0 = new Image();
      var image1 = new Image();
      var image2 = new Image();
      var image3 = new Image();
      var image4 = new Image();
      var image5 = new Image();
      var image6 = new Image();
      var image7 = new Image();

      image0.onload = function() {
        ctx0.drawImage(image0, 0, 0);
      };
      image1.onload = function() {
        ctx1.drawImage(image1, 0, 0);
      };
      image2.onload = function() {
        ctx2.drawImage(image2, 0, 0);
      };
      image3.onload = function() {
        ctx3.drawImage(image3, 0, 0);
      };
      image4.onload = function() {
        ctx4.drawImage(image4, 0, 0);
      };
      image5.onload = function() {
        ctx5.drawImage(image5, 0, 0);
      };
      image6.onload = function() {
        ctx6.drawImage(image6, 0, 0);
      };
      image7.onload = function() {
        ctx7.drawImage(image7, 0, 0);
      };
      image0.src = 'static/$(bank)0.png?=' + Math.random();
      image1.src = 'static/$(bank)1.png?=' + Math.random();
      image2.src = 'static/$(bank)2.png?=' + Math.random();
      image3.src = 'static/$(bank)3.png?=' + Math.random();
      image4.src = 'static/$(bank)4.png?=' + Math.random();
      image5.src = 'static/$(bank)5.png?=' + Math.random();
      image6.src = 'static/$(bank)6.png?=' + Math.random();
      image7.src = 'static/$(bank)7.png?=' + Math.random();

      setTimeout(showplots, 1000);
      }

      function cli0() {
          window.location.href = "waterfall?bank=$(bank)&window=0";
      }
      function cli1() {
          window.location.href = "waterfall?bank=$(bank)&window=1";
      }
      function cli2() {
          window.location.href = "waterfall?bank=$(bank)&window=2";
      }
      function cli3() {
          window.location.href = "waterfall?bank=$(bank)&window=3";
      }
      function cli4() {
          window.location.href = "waterfall?bank=$(bank)&window=4";
      }
      function cli5() {
          window.location.href = "waterfall?bank=$(bank)&window=5";
      }
      function cli6() {
          window.location.href = "waterfall?bank=$(bank)&window=6";
      }
      function cli7() {
          window.location.href = "waterfall?bank=$(bank)&window=7";
      }

      function allbanks() {
          window.location.href = "/";
      }
    </script>
  </head>
  <body onload="showplots()">
    <button class="btn" type="button" onclick="allbanks()">All banks</button>
    <div style="position:absolute; top:40px; left:0px">
      <canvas id="canvas0" width="600" height="200" onclick="cli0()"></canvas>
    </div>
    <div style="position:absolute; top:240px; left:0px">
      <canvas id="canvas1" width="600" height="200" onclick="cli1()"></canvas>
    </div>
    <div style="position:absolute; top:440px; left:0px">
      <canvas id="canvas2" width="600" height="200" onclick="cli2()"></canvas>
    </div>
    <div style="position:absolute; top:640px; left:0px">
      <canvas id="canvas3" width="600" height="200" onclick="cli3()"></canvas>
    </div>
    <div style="position:absolute; top:40px; left:600px">
      <canvas id="canvas4" width="600" height="200" onclick="cli4()"></canvas>
    </div>
    <div style="position:absolute; top:240px; left:600px">
      <canvas id="canvas5" width="600" height="200" onclick="cli5()"></canvas>
    </div>
    <div style="position:absolute; top:440px; left:600px">
      <canvas id="canvas6" width="600" height="200" onclick="cli6()"></canvas>
    </div>
    <div style="position:absolute; top:640px; left:600px">
      <canvas id="canvas7" width="600" height="200" onclick="cli7()"></canvas>
    </div>
  </body>
</html>
